* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 800px;
  background: rgb(225, 255, 143);
  position: relative;
}
.top__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.top__title {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 196px;
  max-width: 768px;
}
.top__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 24px;
  width: 720px;
}
.top__button {
  box-sizing: border-box;
  background: rgb(32, 32, 39);
  border-radius: 60px;
  border: 1px solid rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0%;
  text-align: center;
  width: 247px;
  height: 66px;
  margin-top: 64px;
  padding-top: 16px;
}

.star-1 {
  position: absolute;
  top: 69px;
  left: 156px;
}

.star-2 {
  position: absolute;
  top: 94px;
  left: 63px;
}

.star-3 {
  position: absolute;
  left: 854px;
  top: -333px;
}

.star-4 {
  position: absolute;
  bottom: 225px;
  right: 455px;
}

.star-5 {
  position: absolute;
  bottom: 149px;
  right: 344px;
}

.roll {
  background-image: url(images/Frame\ 2043683043.svg);
  width: 100%;
  height: 49px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
}

.section-1 {
  background: rgb(32, 32, 39);
  background-image: url(images/Star1.svg), url(images/Star11.svg), url(images/Star12.svg);
  background-repeat: no-repeat;
  background-position: 930px 77px, 25px 770px, 40px 822px;
}
.section-1__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 94px;
}
.section-1__title-mob {
  display: none;
}
.section-1__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  width: 788px;
  padding-top: 24px;
}
.section-1__items {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 72px;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.section-1__content {
  padding-bottom: 50px;
}
.section-1__items-big {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 32px;
  margin-top: 72px;
}

.section-2 {
  background: rgb(32, 32, 39);
  background-image: url(images/Star7.svg), url(images/Star6.svg), url(images/Star10.svg), url(images/Star8.svg);
  background-repeat: no-repeat;
  background-position: 1277px 93px, 1320px 126px, 1249px 3414px, 1319px 3366px;
}
.section-2__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 94px;
}
.section-2__title-mob {
  display: none;
}
.section-2__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  width: 788px;
  padding-top: 24px;
}
.section-2__items {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 72px;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.section-2__content {
  padding-bottom: 144px;
}
.section-2__items-big {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 32px;
  margin-top: 72px;
}

.item {
  grid-column: span 4;
  height: 512px;
  border-radius: 30px;
  background-color: #fff;
}
.item__btn-mob {
  display: none;
}
.item__content {
  padding: 32px;
}
.item__text {
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: center;
  width: 108px;
  padding: 16px;
  width: 108px;
  padding-top: 8px;
  padding-bottom: 10px;
}
.item__text-mob {
  display: none;
}
.item__name {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 16px;
  color: rgb(32, 32, 39);
}
.item__name-mob {
  display: none;
}
.item__image-mob {
  display: none;
}

.item-long {
  height: 551px;
}

.item-5 {
  margin-top: 32px;
}

.name-short {
  width: 300px;
}

.item-big {
  grid-column: span 12;
  height: 500px;
  background-color: #fff;
  display: flex;
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
}
.item-big__content {
  display: flex;
  flex-direction: column;
  padding: 48px;
}
.item-big__name {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
}
.item-big__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 24px;
}
.item-big__button {
  margin-top: 36px;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  font-family: Montserrat;
  width: 247px;
  height: 66px;
}

.footer {
  background: rgb(189, 237, 53);
  height: 150px;
}
.footer__text {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 61px;
}

@media (max-width: 768px) {
  .top {
    background-image: url(images/Star2.svg), url(images/Star3.svg), url(images/Star4.svg), url(images/Star5.svg), url(images/Vector.svg);
    background-repeat: no-repeat;
    background-position: 37px 97px, 91px 64px, 303px 580px, 273px 557px, 187px -103px;
    height: 700px;
  }
  .top__title {
    color: rgb(32, 32, 39);
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: center;
    width: 262px;
    padding-top: 147px;
  }
  .top__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    width: 296px;
    color: rgb(32, 32, 39);
  }
  .top__button {
    font-size: 16px;
    width: 285px;
    height: 55px;
    margin-top: 36px;
  }
  .top__content {
    align-content: center;
  }
  .star-3, .star-4, .star-5, .star-1, .star-2 {
    display: none;
  }
  .section-1__content {
    padding-left: 16px;
    padding-right: 16px;
  }
  .section-1__items {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 48px;
  }
  .section-1__title {
    display: none;
  }
  .section-1__title-mob {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 48px;
  }
  .section-1__text {
    display: none;
  }
  .item {
    margin-bottom: 24px;
    height: auto;
  }
  .item__image {
    width: 100%;
  }
  .item__text {
    display: none;
  }
  .item__text-mob {
    display: block;
    padding-top: 16px;
    color: rgb(0, 0, 0);
  }
  .item__btn-mob {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
    border-radius: 60px;
    background: rgb(32, 32, 39);
    border: 1px solid rgb(32, 32, 39);
    font-family: Montserrat;
    margin-top: 32px;
    width: 285px;
    height: 55px;
  }
  .item__name-sp {
    display: none;
  }
  .item__name-mob {
    display: block;
    color: rgb(32, 32, 39);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
  }
  .item-5 {
    margin-top: 0;
  }
}/*# sourceMappingURL=style.css.map */