* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    }
body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    }
    
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    }
    
.top {
    height: 800px;
    background: rgb(225, 255, 143);
    position: relative;
    &__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    &__title {
        color: rgb(32, 32, 39);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 196px;
        max-width: 768px;
    }
    &__text {
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 24px;
        width: 720px;
    }
    &__button {
        box-sizing: border-box;
        background: rgb(32, 32, 39);
        border-radius: 60px;
        border: 1px solid rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0%;
        text-align: center;
        width: 247px;
        height: 66px;
        margin-top: 64px;
        padding-top: 16px;
        transition: background-color 0.5s, border 0.5s, color 0.5s;
    }
    &__button:hover {
        transition: background-color 0.5s;
        border: 1px solid rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        background-color: #fff;
    }
}
    
.star-1 {
    position: absolute;
    top: 69px;
    left: 156px;
    }
    
.star-2 {
    position: absolute;
    top: 94px;
    left: 63px;
    }
    
.star-3 {
    position: absolute;
    left: 854px;
    top: -333px;
    }
    
.star-4 {
    position: absolute;
    bottom: 225px;
    right: 455px;
    }
    
.star-5 {
    position: absolute;
    bottom: 149px;
    right: 344px;
    }
    
@keyframes scroll-left {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}
.roll {
    overflow: hidden;
    width: 100%;
    height: 49px;
    // position: relative;
    &__1 {
    background-image: url(images/Frame\ 2043683043.svg), url(images/Frame\ 2043683043.svg);
    width: 200%;
    height: 49px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: scroll-left 13s linear infinite;
    }  
    }
    
.section-1 {
    background: rgb(32, 32, 39);
    background-image: url(images/Star1.svg), url(images/Star11.svg), url(images/Star12.svg);
    background-repeat: no-repeat;
    background-position: 930px 77px, 25px 770px, 40px 822px;
    &__title {
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 94px;
    }
    &__title-mob {
        display: none;
    }
    &__text {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        width: 788px;
        padding-top: 24px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin-top: 72px;
        column-gap: 32px;
    }
    &__content {
        padding-bottom: 50px;

    }
    &__items-big {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        row-gap: 32px;
        margin-top: 72px;
    }
    
}
.section-2 {
    background: rgb(32, 32, 39);
    background-image: url(images/Star7.svg), url(images/Star6.svg), url(images/Star10.svg), url(images/Star8.svg);
    background-repeat: no-repeat;
    background-position: 1277px 93px, 1320px 126px, 1249px 3414px, 1319px 3366px;
    &__title {
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 94px;
    }
    &__title-mob {
        display: none;
    }
    &__text {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        width: 788px;
        padding-top: 24px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin-top: 72px;
        column-gap: 32px;
    }
    &__content {
        padding-bottom: 144px;

    }
    &__items-big {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        row-gap: 32px;
        margin-top: 72px;
    }
}      

.item {
    grid-column: span 4;
    height: 512px;
    border-radius: 30px;
    background-color: #fff;
    transform: scale(1);
    transition: 1s;
    &__btn-mob {
        display: none;
    }
    &__image {
        width: 100%;
    }
    &__content {
        padding: 32px;
    }
    
    &__text {
        border-radius: 52.58px;
        background: rgb(247, 247, 247);
        color: rgb(32, 32, 39);
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: 0px;
        text-align: center;
        width: 108px;
        padding: 16px;
        width: 108px;
        padding-top: 8px;
        padding-bottom: 10px;
    }
    &__text-mob {
        display: none;
    }
    &__name {
        color: rgb(32, 32, 39);
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0px;
        text-align: left;
        margin-top: 16px;
        color: rgb(32, 32, 39);
    }
    &__name-mob {
        display: none;
    }
    &__image-mob {
        display: none;
    }
    
    }
.item:hover {
    transform: scale(1.1);
    transition: transform 1s;
}
.item-long {
        height: 551px;
    
    }
.item-5 {
        margin-top: 32px;
    
    }
    
.name-short {
        width: 300px;
    
    }
.item-big {
    grid-column: span 12;
    height: 500px;
    background-color: #fff;
    display: flex;
    border-radius: 30px;
    box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
    background: rgb(255, 255, 255);
    &__content {
        display: flex;
        flex-direction: column;
        padding: 48px;
    }
    &__name {
        color: rgb(32, 32, 39);
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 0px;
        text-align: left;
    }
    &__text {
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 24px;
    }
    &__button {
        margin-top: 36px;
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;
        font-family: Montserrat;
        width: 247px;
        height: 66px;
        transition: all 0.5s;
    }
    &__button:hover {
        box-sizing: border-box;
        background: #fff;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 60px;
        color: rgb(32, 32, 39);
        transition: background-color 0.5s;
    }
}

.footer {
        background: rgb(189, 237, 53);
        height: 150px;
        &__text {
            color: rgb(0, 0, 0);
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
            letter-spacing: 0px;
            text-align: center;
            padding-top: 61px;
    }
    }    

    @media (max-width: 768px) {
        .top {
            background-image: url(images/Star2.svg), url(images/Star3.svg), url(images/Star4.svg), url(images/Star5.svg), url(images/Vector.svg);
            background-repeat: no-repeat;
            background-position: 37px 97px, 91px 64px, 303px 580px, 273px 557px, 187px -103px;
            height: 700px;
            &__title {
                color: rgb(32, 32, 39);
                font-size: 40px;
                font-weight: 700;
                line-height: 49px;
                letter-spacing: 0px;
                text-align: center;
                width: 262px;
                padding-top: 147px;
            }
            &__text {
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0px;
                text-align: center;
                width: 296px;
                color: rgb(32, 32, 39);
            }
            &__button {
                font-size: 16px;
                width: 285px;
                height: 55px;
                margin-top: 36px;
            }
            &__content {
                align-items: center;            }  
        }
.star-3, .star-4, .star-5, .star-1, .star-2 {
    display: none;
}
.section-1 {
    &__content {
        padding-left: 16px;
        padding-right: 16px;
    }
    &__items {
        grid-template-columns: repeat(4, 1fr);
        margin-top: 48px;
    }
    &__title {
        display: none;
    }
    &__title-mob {
        display: block;
        color: rgb(255, 255, 255);
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 48px;
    }
    &__text {
        display: none;
    }
}

.item {
    margin-bottom: 24px;
    height: auto;
    &__image {
        width: 100%;
    }
    
    &__text {
        display: none;
    }
    &__text-mob {
        display: block;
        padding-top: 16px;
        color: rgb(0, 0, 0);
    }
    &__btn-mob {
        display: block;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0%;
        text-align: center;
        box-sizing: border-box;
        border-radius: 60px;
        background: rgb(32, 32, 39);
        border: 1px solid rgb(32, 32, 39);
        font-family: Montserrat;
        margin-top: 32px;
        width: 285px;
        height: 55px;
        }
        &__name-sp {
            display: none;
        }
        &__name-mob {
            display: block;
            color: rgb(32, 32, 39);
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            letter-spacing: 0px;
            text-align: left;
        }
}
.item-5 {
    margin-top: 0;
}
.section-2 {
    display: none;
}
}